.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(228, 255, 255);
}

body {
  background-color: #cff8fd;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

h2 {
  text-align: center;
}

.page-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #2c7da0;
}

.page-nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

p{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.item-info {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.byline{
    text-align:center;
}

.rating{
    text-align: center;
}

figure{
    text-align: center;
}


.origami-category {
            margin-bottom: 30px;
        }

        .category-title {
            font-family: sans-serif;
            color: #333;
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .image-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 20px; 
        }

        .grid-item {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            background-color: #98d2d1;
        }

        .grid-item img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }

        .grid-item p {
            margin: 0;
            font-family: sans-serif;
            font-size: 14px;
            color: #555;
        }

  footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  background-color: #49617c;
  color: #ffecec;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}


.site-logo{
  display:inline-flex;
  align-items:center;
  gap:10px;
  text-decoration:none;
  padding:2px 2px;
  border-radius:14px;
  font-weight:700;
  color:#fff;
 
  top:10px;
 left:150px;
}

.site-logo img{
 width:60px;

}
.site-logo-text{
  font-size:16px;
}
